* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    width: 200px;
    height: auto;
    margin-left: 100px;
}

.iconos,
.busqueda {
    display: flex;
    justify-content: flex-end;
    margin: 20px 100px;
}

.iconos i:hover,
.busqueda i:hover {
    filter: contrast(0.3);
    cursor: pointer;
}

.iconos a {
    color: black;
}

.icono {
    margin: 30px 10px;
    font-size: 18px;
}

.barra_busqueda,
.lupa {
    margin: 0 10px;
}

.flex-menu {
    background-color: #C9FBFE;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    position: sticky;
    top: 0;
}

.flex-inicio,
.flex-libros,
.flex-ofertas,
.flex-nosotros,
.flex-contacto {
    margin: 1rem 2rem;
}

.horizontal li {
    display: inline-block;
}

.horizontal a {
    text-decoration: none;
    color: #7B5F35;
}

.horizontal a.activo {
    background-color: #53E7F7;
    border-radius: 20px;
    padding: 1rem 1.5rem;
}

.flex-menu .horizontal a:hover:not(.activo) {
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.flex-pie {
    background-color: #C9FBFE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 5px;
}

.flex-pie p {
    padding: 1.2rem 4rem;
}

.flex-pie a:nth-of-type(1),
.flex-pie a:nth-of-type(2) {
    padding: 1.2rem 5rem;
}

.flex-pie a {
    text-decoration: none;
    color: black;
    padding: 1.2rem 0.6rem;
}

.flex-pie a:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

/* Libros */
.filtro-tematica {
    text-align: center;
    margin: 20px 0;
}

.filtro-tematica select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.fantasia {
    padding: 40px 30px;
    text-align: center;
}

.fantasia h2 {
    margin-bottom: 30px;
}

.libros-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    justify-items: center;
    width: 100%;
}

.libro {
    text-align: center;
    width: 10rem;
}

p.titulo {
    font-weight: bold;
}

.libro img {
    width: 100%;
    height: 16rem;
    border-radius: 10px;
    margin-left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.libro img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.libro p {
    margin-top: 8px;
    font-size: 16px;
}

.precio {
    font-weight: bold;
    color: #009688;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #00796B;
}


/* Estilos Responsive */
@media (max-width: 768px) {
    img {
        margin-left: 2rem;
        width: 150px;
    }

    .iconos,
    .busqueda {
        margin: 10px 20px;
        flex-direction: row;
        align-items: flex-end;
    }

    .busqueda {
        margin-top: 0;
    }

    .barra_busqueda {
        width: 100%;
    }

    .flex-menu {
        flex-direction: column;
        align-items: center;
    }

    .horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .horizontal li {
        margin: 0.6rem 0;
        display: block;
        text-align: center;
    }

    .horizontal a {
        display: inline-block;
        width: 100%;
    }

    .libros-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex-pie {
        flex-direction: column;
        align-items: center;
    }

    .flex-pie p,
    .flex-pie a {
        padding: 0.5rem;
    }

    .flex-pie a:nth-of-type(1),
    .flex-pie a:nth-of-type(2) {
        padding: 0.7rem;
    }
}